body {
    background-color: rgb(25, 25, 102);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

ul.outer_navbar, ul.inner_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(70, 70, 210);
    position: sticky;
    top: 0;
    text-align: center;
    vertical-align: middle;
}

.outer_navbar li, .inner_navbar li {
    display: inline;
}

.outer_navbar li, .inner_navbar li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
}

  .inner_navbar li:not(.active):hover, .outer_navbar li:not(.active):hover {
    background-color: rgba(50,50,190, 0.7);
    cursor: pointer;
}

  .active {
      background-color: rgb(25,25,102);
      /* border-top-left-radius: 20px;
      border-top-right-radius: 20px; */
  }

#events_page_in, #mods_page, #add_event_page {
    padding : 4%;
}

.event_info {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.heading, .mod_name {
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 2px;
}

.add_sub, .remove_sub, .star, .unstar {
    width: 8%;
    margin-right: 10px;
    display: inline-block;
    float: right;
    vertical-align: middle;
}

.add_sub img, .remove_sub img, .star img, .unstar img {
    max-height: 100%;
  max-width: 100%;
}

.other_event, .sub_event, .sub_mod, .other_mod, .starred_event {
    background-color: rgba(153, 153, 153, 0.5);
    height: fit-content;
    width: 80%;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 3em;
    border: 0;
    padding: 4%;
    padding-left: 11%;
    padding-right: 11%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

/* .sub_event, .sub_mod {
    background-color: rgba(255, 215, 0, 0.8);

} */

.other_event div, .sub_event div {
    border: 0;
    padding: 0;
}

.event_title {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
}

.by {
    color: #dadada;
    font-size: 0.9em;
    margin: 0;
}

.event_time, .venue {
    color: white;
    font-size: 1em;
    margin: 0;
    margin-top: 0.4em;
}

.others {
    margin-top: 2vh;
}

.submit_button {
    background: rgb(70, 70, 210);
    color: white;
    border: 0;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    }

#today_starred, #today_subs, #today_others, #tom_starred, #tom_subs, #tom_others, #up_starred, #up_subs, #up_others {
    border: 1px solid;
    border-color: rgba(200, 200, 200, 1);
    border-radius: 25px;
    padding: 25px;
    padding-top: 20px;
    margin: 10px;
}   